.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.btn-sign-in {
	margin-right: 20px;
}

hr.separator {
	border: none;
	border-bottom: solid 1px #bbb;
}

hr.separator-minor {
	width: 80%;
}

#header {
	margin-top: 20px;
}

#home h1 {
	text-align: center;
}
